<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Oil & Gas Talent Hub</title>
    <link href="/images/undraw_work_time_lhoj.svg" rel="icon" />

    <!-- FontAwesome-cdn include -->
    <link rel="stylesheet" href="~/quize/assets/cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap-css include -->
    <link rel="stylesheet" href="~/quize/assets/css/bootstrap.min.css">
    <!-- Animate-css include -->
    <link rel="stylesheet" href="~/quize/assets/css/animate.min.css">
    <!-- Main-StyleSheet include -->
    <link rel="stylesheet" href="~/quize/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true">

</head>
<body>

   
    

        <partial name="_Notification" />
        @RenderBody()
   


    <!-- jQuery-js include -->
    <script src="~/quize/assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap-js include -->
    <script src="~/quize/assets/js/bootstrap.min.js"></script>
    <!-- jQuery-validate-js include -->
    <script src="~/quize/assets/js/jquery.validate.min.js"></script>
    <!-- Custom-js include -->
    <script src="~/quize/assets/js/script.js"></script>
</body>

</html>