@{

    Layout = "_LayoutAdmin1";
}
@model Aptitude_Test.Models.Job;

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Edit Job </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">JOB</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit JOB</li>
            </ol>
        </nav>
    </div>
    <div class="row">

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                    <h4 class="card-title">Edit JOB</h4>

                    <form class="forms-sample" asp-action="job_edit2" asp-controller="Admin" method="post">
                        <input type="hidden" asp-for="JobId" class="form-control" id="exampleInputName1" placeholder="Job Title">

                        <div class="form-group">
                            <label for="exampleInputName1">Title</label>
                    <input type="text" asp-for="JobTitle" class="form-control" id="exampleInputName1" placeholder="Job Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Company</label>
                            <input type="text" asp-for="CompanyName" class="form-control" id="exampleInputName1" placeholder="Company Name">
                </div>
                <div class="form-group">
                            <label for="exampleInputName1">Job Location</label>
                    <input type="text" asp-for="JobLocation" class="form-control" id="exampleInputName1" placeholder="Location">
                </div>
                <div class="form-group">
                            <label for="exampleSelectGender">Employment Type</label>
                            <select class="form-control" id="exampleSelectGender" asp-for="EmploymentType" >
                                <option value="Part Time">Part Time</option>
                                <option value="9 to 5">9 to 5</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Freelance">Freelance</option>
                                <option value="Internship">Internship</option>
                                <option value="Temporary">Temporary</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
            </form> 
        </div>
    </div>
</div>



    </div>
</div>