@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact";
}

@model Aptitude_Test.Models.Contact;

<div class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact</span></p>
                <h1 class="mb-3 bread">Contact Us</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h3">Contact Information</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>Address:</span> Karachi Pak</p>
            </div>
            <div class="col-md-3">
                <p><span>Phone:</span> <a href="tel://1234567920">+92 000 000 0000</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="/cdn-cgi/l/email-protection#8de4e3ebe2cdf4e2f8fffee4f9e8a3eee2e0"><span class="__cf_email__" data-cfemail="abc2c5cdc4ebd2c4ded9d8c2dfce85c8c4c6">[abc@gmail.com]</span></a></p>
            </div>
            <div class="col-md-3">
                <p><span>Website</span> <a href="#">yoursite.com</a></p>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form asp-action="contact_us" class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <input type="text" asp-for="ContName" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" asp-for="ContEmail" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <input type="number" asp-for="ContPhone" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="ContAddress" class="form-control" placeholder="Address">
                    </div>
                    <div class="form-group">
                               <textarea   cols="30" rows="7" asp-for="ContMessage" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex">
                <div  class="bg-white" style="width:100%;height:100%;overflow:hidden;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7235.935300301363!2d67.0338408451229!3d24.933171940462568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1saptect%20nn!5e0!3m2!1sen!2s!4v1714235426654!5m2!1sen!2s" width="600" height="620" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subcribe to our Newsletter</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>