@{
    Layout = "_LayoutQuiz1";
    ViewData["Title"] = "Test Complete!";

}

    <div id="wrapper">
        <div class="container">
            <div class="row text-center">
                <div class="check_mark_img">
                    <img src="~/quize/assets/images/checkmark.png" alt="image_not_found">
                </div>
                <div class="sub_title">
                    <span>Your submission has been received</span>
                </div>
                <div class="title pt-1">
                    <h3>Thankyou For Give Answer</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap-js include -->
   